.App {
  text-align: center;
}

.login-header {
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent);
  border-bottom: transparent;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: left;
}

.login .logo {
  margin-left: 3%;
  font-size: x-large;
  text-decoration: none;
}


.App-link {
  color: #61dafb;
}